
@font-face {font-family: "iconfont";
  font-family: "iconfont"; /* Project id 2113109 */
  src: url('//at.alicdn.com/t/font_2113109_cqmk143zx9t.woff2?t=1629042221534') format('woff2'),
       url('//at.alicdn.com/t/font_2113109_cqmk143zx9t.woff?t=1629042221534') format('woff'),
       url('//at.alicdn.com/t/font_2113109_cqmk143zx9t.ttf?t=1629042221534') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-file:before {
    content: "\e98f";
    color: #c9c9c9;
  }

  .icon-compressed-file:before {
    content: "\e61b";
    color: rgb(244, 196, 70);
  }

  .icon-xml:before {
    content: "\e66e";
    color: #FC7B24;
  }
  
  .icon-audio:before {
    content: "\e8a4";
    color: rgb(55, 159, 211);;
  }
  
  .icon-text:before {
    content: "\e60d";
    color: rgb(249, 202, 6);
  }
  
  .icon-video:before {
    content: "\e609";
    color: rgb(128, 149, 255);
  }
  
  .icon-zip:before {
    content: "\e60b";
  }
  
  .icon-excel:before {
    content: "\e6d6";
    color: rgb(16, 123, 15);
  }
  
  .icon-pdf:before {
    content: "\e64f";
    color: rgb(220, 46, 27);
  }
  
  .icon-ppt:before {
    content: "\e642";
    color: rgb(210, 70, 37);
  }
  
  .icon-html:before {
    content: "\e667";
    color: rgb(247, 98, 44);;
  }
  
  .icon-psd:before {
    content: "\e66a";
  }
  
  .icon-rtf:before {
    content: "\e66b";
  }
  
  .icon-image:before {
    content: "\e606";
    color: rgb(18, 150, 219);
  }
  
  .icon-doc:before {
    content: "\e623";
    color: rgb(13, 71, 161);
  }
  
  .icon-grid:before {
    content: "\e6ef";
  }
  
  .icon-list:before {
    content: "\e67a";
  }
  